@import "variables";

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  transition: .5s all ease-in-out;
}

:root {
  --vs-dropdown-option--active-bg: var(--primary);
}

.page {
  padding: 20px;
  background: var(--white);
  height: 100%;

  &__title {
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
  }
}

.vs__dropdown-toggle {
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  height: 42px;

  .vs__selected {
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
  }
}

.vs__dropdown-menu {
  border-radius: 0 0 8px 8px;
  padding: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-8 {
  gap: 8px;
}

select {
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background: var(--white);
  outline: none;
  padding: 3px;
}
